:root {
  /* Colors: */
  --unnamed-color-3f51b5: #3F51B5;
  --unnamed-color-e81919: #E81919;
  /* Font/text values */
  --unnamed-font-family-yugothic: YuGothic;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-medium: medium;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-size-12: 12px;
  --unnamed-font-size-14: 14px;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-20: 20px;
  --unnamed-font-size-24: 24px;
  --unnamed-font-size-46: 46px;
  --unnamed-font-size-47: 47px;
  --unnamed-font-size-48: 48px;
  --unnamed-font-size-64: 64px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-20: 20px;
  --unnamed-line-spacing-22: 22px;
  --unnamed-line-spacing-23: 23px;
  --unnamed-line-spacing-24: 24px;
  --unnamed-line-spacing-27: 27px;
  --unnamed-line-spacing-41: 41px;
  --unnamed-line-spacing-60: 60px;
  --unnamed-line-spacing-78: 78px;
  --unnamed-line-spacing-80: 80px;
  --unnamed-line-spacing-82: 82px;
  --unnamed-line-spacing-109: 109px;
  --unnamed-decoration-underline: underline;
}

body {
  font-family: 'Noto Sans JP',Verdana, Tahoma, sans-serif;
  line-height: 1.5;
  background: #F8F8F8 0% 0% no-repeat padding-box;
  opacity: 1;
}

img {
  width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #333;
}

.a-font {
  color: #000000;
}

a:hover {
  opacity: 0.7;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 1280px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    margin: 0 0;
    max-width: 100%;
  }
}

.btn {
  padding: 20px 120px;
  display: inline-block;
  color: #fff;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .btn {
    font-size: 15px;
    padding: 10px 40px;
  }
}

.btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media (min-width: 768px) {
  .drawer-hamburger {
    display: none;
  }
  .drawer--right .drawer-nav {
    right: 0;
  }
  .drawer-nav {
    position: relative;
  }
  .drawer-nav .drawer-menu li {
    display: inline-block;
  }
}

.drawer-hamburger {
  display: none;
}

header {
  z-index: 20;
}

@media screen and (max-width: 767px) {
  .header-inner {
    height: 60px;
  }
}

header {
  position: fixed;
  top: 0;
  right: 0px;
  width: 100%;
  background: #F8F8F8;
}

.header-left {
  float: left;
  margin-left: auto;
  opacity: 1;
  padding-top: 25px;
}

@media screen and (max-width: 767px) {
  .header-left {
    padding-top: 20px;
  }
}

.f_logo {
  width: 120px;
}

@media screen and (max-width: 767px) {
  .f_logo {
    padding-left: 20px;
    line-height: 20px;
  }
}

.header-right {
  float: right;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-27) var(--unnamed-font-family-yugothic);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal medium 16px/27px Yeseva One;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  line-height: 1.7;
  padding: 27px 0px;
  font-size: 16px;
}

.header-nav-item {
  float: left;
  margin-left: 40px;
}

.header-nav {
  font-family: 'Yeseva One', sans-serif;
}

.drawer-hamburger-icon {
  padding-right: 20px;
  background-color: #43A3D2;
}

.js-menu__item__link {
  color: #333333;
}

.section-title {
  font: normal normal normal 24px/24px Yeseva One;
  letter-spacing: 0px;
  color: #202642;
  opacity: 1;
  margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .section-title {
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .section-title {
    text-align: center;
  }
}

.inner {
  margin: auto;
}

@media screen and (min-width: 768px) {
  .inner {
    width: 696px;
  }
}

@media screen and (min-width: 768px) {
  .top-inner {
    height: 934px;
    background: url(../img/top.png);
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 767px) {
  .top-inner {
    padding-top: 134%;
    background: url(../img/top.png) center center/100%;
    max-width: 85%;
    margin: auto;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 768px) {
  .product-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.product-flex img {
  width: 336px;
  height: auto;
}

@media screen and (max-width: 767px) {
  .product-flex img {
    width: 60%;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .product-item-picture {
    margin-right: 24px;
  }
}

.product-item-category {
  padding: 3px 8px 2px;
  color: #202642;
  background: #fff;
  border: 1px solid #202642;
  border-radius: 8px;
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 16px;
}

.product-item-title a {
  color: #202642;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #fafddd), color-stop(50%, #eefd9c), to(#ccfdb6));
  background: linear-gradient(to right, #fafddd 0, #eefd9c 50%, #ccfdb6 100%);
  -webkit-transition: .2s;
  transition: .2s;
  background-size: 100% 100%;
}

.product-item-title {
  margin-bottom: 70px;
}

@media screen and (max-width: 767px) {
  .product-container {
    text-align: center;
  }
}

.product-container::after {
  content: '';
  background: url(../img/line.png) repeat-x;
  width: 100%;
  height: 4px;
  display: block;
  bottom: 0;
  left: 0;
  margin-top: 175px;
  margin-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .news-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .news-item {
    width: 60%;
    margin: auto;
  }
}

.news-inner {
  padding-bottom: 152px;
}

.footer {
  background: url(../img/footer.png);
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .footer {
    height: 330px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    background: none;
    height: 114px;
  }
}

.footer-copyright {
  text-align: center;
  padding-bottom: 17px;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .footer-copyright {
    color: #888888;
  }
}

@media screen and (max-width: 767px) {
  .footer-copyright {
    color: #202642;
  }
}

.footer-inner {
  position: relative;
}

@media screen and (min-width: 768px) {
  .footer-flex {
    width: 696px;
    left: 50%;
    margin-left: -348px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 116px;
    position: absolute;
    top: 7pc;
    z-index: 2;
    border: 1px solid #dcdcdc;
  }
}

@media screen and (max-width: 767px) {
  .footer-flex {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .footer-item {
    width: 348px;
  }
}

.footer-text {
  font: normal normal normal 16px/10px Yeseva One;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .footer-text {
    color: #202642;
    text-align: center;
  }
}

.footer-item-inner {
  margin: 22px 32px 32px 32px;
}

.mail-color {
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .mail-color {
    color: #202642;
  }
}

.mail-place {
  margin-top: 10px;
  text-align: center;
}

.fa-twitter {
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .fa-twitter {
    color: #202642;
  }
}

.twitter-place {
  text-align: center;
  margin-top: 10px;
}
